.header{
  background: #282c34;
  box-shadow: 0px 5px 10px lightslategray;

.header_logo{
  color: whitesmoke;
  padding: .6rem 1.2rem;
}
.header_right{
  text-align: right;
  margin-right: .5rem;
  margin-left: 1rem;
  display: flex;
}
.auth{
  display: inline-block;
  a{
    text-decoration: none;
    color: white;
    &:hover{
      color: grey;
    }
  }
}

.widgets{
  margin-right: .8rem;
  ul{
    display: inline-block;
    li{
      display: inline-block;
      list-style-type: none;
      color: whitesmoke;
      cursor: pointer;
      margin: 0 .5rem 0 .5rem;
    }
  }
}
}