.menu_header{
  background: black;
  box-shadow: 0px 5px 10px grey;
}
.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  .menu_item{
    padding-top: .5rem;
    list-style: none;
    a{     
      color: white;
      text-decoration: none;
      &:hover{
        color: grey;
      }
    }
  }
}